{% extends "AppGimnasio/padre.html" %}
{% load static %}
{% block Cambia %}


        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>Inscripciones Online</h3>
                            <p class="lead mb-0">Puedes inscribirte desde casa y ver las clases del mes</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Instructores calificados</h3>
                            <p class="lead mb-0">Todo el personal esta altamente calificado para tu entrenamiento!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3>Tenemos varias sucursales</h3>
                            <p class="lead mb-0">Busca la que mas comoda te quede!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Opiniones de alumnos...</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src= "{% static 'AppGimnasio/assets/img/GimnasioMujer.jpg'%}" alt="..." />
                            <h5>Jorgelina E.</h5>
                            <p class="font-weight-light mb-0">"Odiaba los gimnasios hasta que conoci Gimnasio Esfuerzo"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'AppGimnasio/assets/img/GimnasioSenior.jpg'%}" alt="..." />
                            <h5>Alfredo S.</h5>
                            <p class="font-weight-light mb-0">"Los entrenadores saben mucho"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'AppGimnasio/assets/img/GimnasioSenior1.jpg'%}" alt="..." />
                            <h5>Ramon D.</h5>
                            <p class="font-weight-light mb-0">"Me ha cambiado la vida por completo, gracias Gimnasio Esfuerzo"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        

        {% endblock %}
